html, body {
  background-image: url(https://images.unsplash.com/photo-1436261476156-41b86878812d?auto=format&fit=crop&w=1100&q=80);
  background-size: cover;
  font-family: 'Ubuntu', sans-serif;
  overflow-x: hidden;
}

.flexcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  display: inline-block;
  border: 1px solid black;
  width: 15px;
  height: 15px;
  margin-left: -1px;
  margin-bottom: -1px;
}

.off {
  background-color: #0D0904;
}

.on {
  background-color: #2A3300;
}

.box:hover {
  background: #D4CAE3;
}

.center {
  margin: auto;
  display: table;
  margin-top: 10px;
}

.grid {
  width: 150px;
  line-height: 0;
  box-shadow: 10px 15px 5px black;
  margin-top: 20px;
  margin: auto;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  text-decoration: none;
  color: #E8FDF1;
  cursor: pointer;
}

button{
  align-self: center;
  box-shadow: 10px 15px 5px black;

}

.btn-toolbar{
  margin-bottom: 50px;
  padding: 5px;
}

h1, h2, h3, h4 {
  font-size: 5.5rem;
  color: white;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
}

p{
  font-size: 2.0rem;
  font-weight: bolder;
  color: white;
  margin: auto;
  margin-top: -5px;
  text-align: center;
}

/* media adjustment */
@media screen (max-width: 1366px) {
  body{
    overflow-x: hidden;
  }

  h1, h2, h3, h4, p{
    font-size: 2.0rem;
    text-align: left;
  }

  p{
  font-size: 1.5rem;
  }

  button{
    text-align: center;
    display: block;
  }

.grid {
  width: auto;
  height: auto;
}

  .btn-toolbar{
  margin: 55px;
  padding: 5px;
  }

}
